<ul>
<li><%= link_to '式場公式情報', business_places_path %></li>
<li><%= link_to 'フェア情報', business_fairs_path %></li>
<li><%= link_to 'プラン情報', business_plans_path %></li>
<li><%= link_to '先輩カップル', business_cases_path %></li>
<li>公式情報掲載設定</li>
</ul>
